/*
 * screen - Qt Style Sheet
 * Created: 18.10.2025
 */

/* Base styling */

QLineEdit{
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 4px;
    font-size: 18px;
    color: #D2D6D8;
    qproperty-alignment: AlignRight;
}

/* Add your QSS styles here */
